.container {
  background-color: lightblue;

  // text-align: center;

  .products {
    border: 1px solid purple;

    width: 80%;

    display: flex;
    flex-wrap: wrap;

    & > * {
      // border: 3px solid red;
      margin: 0.3%;
    }
  }
}