.container {
  height: 100%;
}

button.button {
  position: absolute;
  --distance: 2%;
  top: var(--distance);
  left: var(--distance);
}

.currentScreen {
  padding: 0;

  height: 100%;

  & > * {
    height: 100%;
  }
}